:root {
  /* font-color */
  --body-color: #1C343F;
  --header: #5B1B1B;
  --white: #ffffff;

  /* font-size */
  --body-size: clamp(0.938rem, 0.827rem + 0.47vw, 1.25rem);/*15-20px*/
  
  /* border */
  --border: 4px solid #5D6EAB;
}

html {
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  color: var(--body-color);
  font-size: var(--body-size);
  font-family: var(--font-noto-serif),serif;
  /*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
