/*-----------------------------------------------------------------------------------------------------
ヘッダーエリア
-----------------------------------------------------------------------------------------------------*/
.header {
  padding: 10px 5%;
  margin: 0 auto;
  background-color: var(--white);
}
.header h1 {
  font-size: 1em;
  line-height: 1;
  height: fit-content;
  width: clamp(4.688rem, 3.037rem + 7.04vw, 9.375rem);
}
/*-----------------------------------------------------------------------------------------------------
ファーストビューエリア
-----------------------------------------------------------------------------------------------------*/
.main {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.topTitle {
  width: 50%;
  height: auto;
}
/*トップイメージ部分のグレイの背景*/
.top {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  background-color: #E5E8EA;
  padding-top: 8rem;
  padding-bottom: 150px;
  top: 0;
  z-index: 0;
}
/*
背景を斜めにするために背景の前にに２層の擬似要素を追加した。::afterは透明度を追加するため。
（下のセクションの色に微妙に白が混じっているため、::beforeに透明度を追加するだけでは同じ色にならない）色は下のセクションの色にしている。
*/
.top::before {
  content: "";
  position: absolute;
  bottom:0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 100vw;
  border-color: transparent transparent transparent #8CBBD5;
  z-index: -2;
}
.top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 0 100vw;
  border-color: transparent transparent transparent #fff;
  opacity: 0.3;
  z-index: -1;
}

.headingSub {
  font-weight: 600;
  font-size: clamp(0.625rem, 0.317rem + 1.31vw, 1.5rem);
  color: #925151;
  margin-top: 0.5em;
}

.hero {
  text-align: center;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

.heroImg {
  width: 100%;
  height: auto;
}

.copyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 2;
}

.copyContainer > p {
  margin-top: -40px;
}

.copy {
  margin: 0;
}

.copy p:nth-child(1) {
  font-size: clamp(3.125rem, 1.585rem + 6.57vw, 7.5rem);
  line-height: 1.1;
  margin-top: 10px;
  text-align: center;
}

.copy p:nth-child(1) .narrow {
  letter-spacing: -0.2em;
}

.copy p:nth-child(1) .smallDate {
  font-size: clamp(0.688rem, 0.093rem + 2.54vw, 2.375rem);
}

.copy p:nth-child(1) .dateLine {
  font-size: clamp(1.25rem, -0.114rem + 6.82vw, 5rem);
  font-weight: 500;
  margin: 0 5px;
}

.copy p:nth-child(2) {
  font-size: clamp(0.75rem, 0.31rem + 1.88vw, 2rem);
  font-weight: 600;
  text-align: center;
}

.copy p:nth-child(3) {
  font-size: clamp(0.813rem, 0.658rem + 0.66vw, 1.25rem);
  font-weight: 500;
  line-height: 2;
  text-align: center;
  margin-top: clamp(1rem, 3.5vw, 3.5rem);
}

.copy p:nth-child(3) br {
  margin-top: 0.5em;
}
/*-----------------------------------------------------------------------------------------------------
メインエリア
-----------------------------------------------------------------------------------------------------*/
/*
メインエリアのブルーの画像背景
*/
.featureContainer {
  position: relative;
  background-image: url("/main/main.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: clamp(45.313rem, 29.577rem + 67.14vw, 90rem) auto;
  background-color: #8CBBD5;
}

.featureContainer::before {
  content: "";
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
}

.featureContainer h4 {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 1em;
  top: 0;
  left: 30%;
}

.featureContainer h4 img {
  display: inline-block;
}

.featureContainer h4 span{
  display: inline-block;
  font-size: clamp(1rem, 0.296rem + 3vw, 3rem);
  font-weight: 400;
  padding-left: 0.5em;
}

.mainFlex {
  padding: clamp(4.375rem, 1.514rem + 12.21vw, 12.5rem) 0 1px;
}

.cafeContainer {
  position: relative;
  background-color: #E3CBCB;
  padding: clamp(3.125rem, 0.924rem + 9.39vw, 9.375rem) 0 clamp(6.25rem, 1.849rem + 18.78vw, 18.75rem);
}

.kidsanddog {
  position: absolute;
  top: clamp(39.375rem, 33.433rem + 25.35vw, 56.25rem);
  left: 40px;
  width: min(35%, 340px);
  z-index: 2;
}
/*-----------------------------------------------------------------------------------------------------
サンタクロースエリア
-----------------------------------------------------------------------------------------------------*/

.santaContainer {
  background-color: #326B49;
  padding-top: 75px;
}
.santaContainer h4 {
  width: min(50%, 500px);
  margin: 0 auto;
}
.santaContainer h5 {
  font-size: clamp(1rem, 0.296rem + 3vw, 3rem);
  font-weight: 300;
  text-align: center;
  color: var(--white);
  margin: 30px 0 40px;
}
.cardContainer {
  position: relative;
  width: min(88%, 1038px);
  background-color: #F0EDED;
  border-radius: clamp(2.5rem, 1.4rem + 4.69vw, 5.625rem);
  padding: clamp(1.875rem, 0.995rem + 3.76vw, 4.375rem) clamp(1.875rem, 0.995rem + 3.76vw, 4.375rem) 0;
  margin: 0 auto;
  z-index: 2;
}
.cardTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.letterScript {
  width: 70%;
}
.santaDate {
  width: 30%;
  text-align: center;
  padding-bottom: 10px;
}
.santaDate p:nth-child(1) { 
  font-weight: 400;
  font-size: clamp(1rem, 0.648rem + 1.5vw, 2rem);
  color: #D82616;
}
.santaDate p:nth-child(2) {
  font-size: clamp(1.25rem, 0.37rem + 3.76vw, 3.75rem);
  line-height: 0.8;
  color: #D82616;
  padding-top: 5px;
}
.cardTexts > p {
  font-size: clamp(1rem, 0.648rem + 1.5vw, 2rem);
  text-align: justify;
  line-height: 1.7;
  color: #D82616;
  margin-top: 0.5em;
}
.santaIllustContainer {
  display: flex;
  justify-content: space-between;
}
.candy {
  margin: clamp(0.625rem, 0.075rem + 2.35vw, 2.188rem);
  align-self: flex-end;
  width: min(10%, 84px);
}
.santaIllust {
  bottom: 0;
  right: 50px;
}
.santaimgShadow {
  box-shadow: 10px 10px 9px 10px rgba(10, 45, 15, 1);
}
.santaBottom {
  display: flex;
  justify-content: space-between;
}
.santaImageflex {
  display: flex;
  flex-direction: column;
  padding: clamp(0rem, -0.66rem + 2.82vw, 1.875rem) 7% clamp(1rem, -1.5rem + 8vw, 10rem) 5%;
  justify-content: space-between;
}
.santaImg {
  transform: rotate(10deg);
  z-index: 1;
  margin-left: 100px;
  width: min(35vw, 500px);
}
.tonakaiImg {
  transform: rotate(-13deg);
  margin-top: -50px;
  margin-bottom: 20px;
  width: min(24.3vw, 350px);
}
.doorContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
  margin-left: 15%;
}
.come {
  padding: 20px 20px 25px 0;
  transform: rotate(-10deg);
}
.door {
 margin-left: 7%;
}
.copyright {
  padding: 15px;
  text-align: center;
}
.copyright small {
  font-family: sans-serif;
  font-size: clamp(0.688rem, 0.577rem + 0.47vw, 1rem);
}

@media (max-width: 768px) {
  .header {
    background-color: #E5E8EA;
  }
  .hero {
    margin-top: 20px;
  }
  .topTitle {
    width: 70%;
    height: auto;
  }
  .top::before {
    border-width: 20px 0 0 100vw;
  }
  .top::after {
    border-width: 20px 0 0 100vw;
  }
  .top {
    padding-top: 2em;
    padding-bottom: 50px;
  }
  .copyContainer > p {
    margin-top: 0;
  }
  .copy p:nth-child(3) {
    text-align: left;
  }
  .featureContainer h4 {
    left: 20%;
  }
  .santaContainer h5 {
    margin: 10px 0 20px;
  }
  .cardContainer {
    padding: 30px 30px 0;
    margin: 0 auto;
    z-index: 2;
  }
  .santaImageflex {
    padding: clamp(0rem, -0.66rem + 2.82vw, 1.875rem) 2% clamp(1rem, -1.5rem + 8vw, 10rem) 5%;
  }
  .santaimgShadow {
    box-shadow: 5px 5px 4.5px 5px rgba(10, 45, 15, 1);
  }
  .come {
    padding: 10px 10px 5px 0;
    transform: rotate(-10deg);
  }
}