.shadow {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
}
.wrapper {
    display: grid;
    width: min(100%,1100px);
    margin: 0 auto;
}
.ribon {
    grid-area: 1/1;
    z-index: 2;
    left: -15%;
    align-self: flex-start;
    justify-self: flex-start;
    width: min(80%, 750px);;
    height: auto;
}
.product {
    position: relative;
    justify-self: end;
    grid-area: 1/1;
    color: var(--header);
    width: min(88%, 800px);
    margin: clamp(3.125rem, 2.575rem + 2.35vw, 4.688rem) auto clamp(4.375rem, 1.514rem + 12.21vw, 12.5rem);
    background-color: var(--white);
    border: var(--border);
    border-radius: clamp(2.5rem, 1.4rem + 4.69vw, 5.625rem);
    z-index: 1;
}
.text {
    padding: 150px clamp(1rem, 8vw, 9.5rem) 0;
}
.text p:nth-of-type(1){
    font-weight: 500;
    font-size: clamp(0.813rem, 0.57rem + 1.03vw, 1.5rem);
}
.text h5 {
    font-size: clamp(1.5rem, 0.708rem + 3.38vw, 3.75rem);
    font-weight: 500;
    line-height: 1.1;
    font-feature-settings: "palt" 1;
}
.text p:nth-of-type(2) {
    font-size: var(--body-size);
    text-align: justify;
    line-height: 1.9;
    color: #0E1E26;
    margin-top: 2em;
}
.img {
    text-align: center;
    z-index: 2;
    margin: 0 20px 20px;
}
.clothes .img {
    padding-right: 12%;
}

.toys h5 span {
    margin: 0 -0.1em;
}
.toys .img {
    margin-top: clamp(0.625rem, -0.035rem + 2.82vw, 2.5rem);
}
.toys .img img {
    width: 80%;
    height: auto;
}
.foods {
    position: relative;
}
.cookie {
    display: none;
}
.foods .text {
    padding-top: clamp(3.125rem, -2.839rem + 25.45vw, 9.375rem);
}
.foods .img {
    margin-top: 20px;
}
/* cafeArea ----------------------------------------------*/

.cafe {
    position: relative;
    border: none;
    margin-bottom: 0;
}
.cafeHead {
    grid-area: 1/1;
    z-index: 2;
    content: "";
    width: min(70%, 587px);
    height: auto;
    justify-self: center;
    margin-top: 2%;
}
.cafe .text {
    text-align: center;
    padding-top: clamp(2.5rem, 1.18rem + 5.63vw, 6.25rem);
}
.cafe h5 {
    margin-top: 20px;
    line-height: 0.7;
}
.cafe h5 span {
    display: block;
    font-size: clamp(0.875rem, 0.479rem + 1.69vw, 2rem);
    font-weight: 400;
    margin-top: 0.7em;
}
.cafe .img {
    padding: clamp(1.25rem, 0.15rem + 4.69vw, 4.375rem) clamp(0rem, -0.77rem + 3.29vw, 2.188rem) clamp(0.625rem, -0.035rem + 2.82vw, 2.5rem);
}

@media (max-width: 768px) {

    .text {
        padding-top: clamp(3.125rem, -0.751rem + 16.54vw, 7.188rem);
    }
    .text p:nth-of-type(2) {
        margin-top: 1.5em;
    }
    .cookie {
        display: block;
        position: absolute;
        top: clamp(2.5rem, -1.078rem + 15.27vw, 6.25rem);
        right: 0;
        z-index: 5;
        width: 30%;
    }
    .cafeHead {
        margin-top: 3%;
    }
}
